/* =========================================
   ESTILOS GENERALES (GLOBAL)
   Aquí van fuentes, body, y variables root
   ========================================= */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Gris suave de fondo para todos */
}

/* =========================================
   SECCIÓN SEBASTIÁN (LOGIN & HOME)
   Prefijo obligatorio: .login-  o  #login-
   ========================================= */

   /* Escribe aquí abajo tus estilos, Sebas */


/* =========================================
   SECCIÓN VICTOR (DASHBOARD)
   Prefijo obligatorio: .dash-  o  #dash-
   ========================================= */

   /* Escribe aquí abajo tus estilos, Victor */


/* =========================================
   SECCIÓN DIEGO (CONTACTO)
   Prefijo obligatorio: .cont-  o  #cont-
   ========================================= */

   /* Escribe aquí abajo tus estilos, Diego */